{{#each question in questions}}
  {{question.content}}
  <br>
  {{#each answer in question.answers}}
  	<input type="radio">{{answer.content}}
  {{/each}}
  <br>
{{/each}}

<button {{action "edit" this}} id="edit-lesson">Edit</button>
<button {{action "delete" this}} id="delete-lesson">Delete</button>