{{#each question in questions}}
  <span class="question-content">{{question.content}}</span>
  <br>
  <form>
  	{{#each answer in question.answers}}
  		{{answer-select value=answer name=question.id}}
  	{{/each}}
  </form>
  <br>
{{/each}}

<button {{action "edit" this}} id="edit-lesson">Edit</button>
<button {{action "delete" this}} id="delete-lesson">Delete</button>