<h2>Login</h2>

<form {{action "loginUser" on="submit"}}>
  {{input type="text" value=username_or_email placeholder="Username or Email Address"}}<br>
  {{input type="password" value=password placeholder="Password"}}
  <button type="submit">Submit</button>
</form>