<header id="header">
  <h2>{{#link-to "index"}}Home{{/link-to}}</h2>

  <nav>
    <ul>
      {{#link-to "courses" id="courses"}}Courses{{/link-to}}
      {{#link-to "users.new"}}Register{{/link-to}}
      {{#link-to "sessions.new"}}Login{{/link-to}}
    </ul>
  </nav>
</header>

{{outlet}}