<header id="header">
  <h2>{{#link-to "index"}}Home{{/link-to}}</h2>
  <nav>
    <ul>
      {{#link-to "courses" id="courses"}}All Courses{{/link-to}}
    </ul>
  </nav>
  <br>
  {{#if currentUser}}
    <ul>
      {{#link-to 'user.index' currentUser id="user-profile-link"}}{{currentUser.email}}{{/link-to}}
      <a href="#" {{action 'logout'}} id="logout">Logout</a>
    </ul>
  {{else}}
   	<ul>
   		{{#link-to "users.new" id="new-user"}}Register{{/link-to}}
   		{{#link-to "sessions.new" id="login"}}Login{{/link-to}}
      {{#link-to "resets.new" id="password-reset"}}Reset Password{{/link-to}}
   	</ul>
  {{/if}}
</header>

{{outlet}}