<h1>Courses</h1>

<ul>
  {{#each controller}}
  	{{#if name}}
    	<li class="course-link">{{#link-to "course" this}}{{name}}{{/link-to}}</li>
  	{{/if}}
  {{else}}
    <li>There are no courses.</li>
  {{/each}}
</ul>

{{#link-to "courses.new" id="new-course"}}Create a Course{{/link-to}}

{{outlet}}