<ul>
  {{#each controller}}
  	{{#if name}}
    	<li class="course-link">{{#link-to "course" this}}{{name}}{{/link-to}}</li>
  	{{/if}}
  {{else}}
    <li>There are no courses.</li>
  {{/each}}
</ul>

{{#if isTeacher}}
	{{#link-to "courses.new" class="new-course-button"}}Create a Course{{/link-to}}
{{/if}}

{{outlet}}