<h1>Create a Course</h1>

{{input type="text" value=name id="new-course-name"}}

<button {{action "save" this}} id="save-course">Create</button>
<br>

{{#if errors.messages}}
	<div id="name-error">
	  {{errors.messages}}
	</div>
{{/if}}

{{outlet}}