<h2>Lessons</h2>

<ul>
  {{#each controller}}
  	{{#if name}}
    	<li class="course-link">{{#link-to "lesson" this}}{{name}}{{/link-to}}</li>
  	{{/if}}
  {{else}}
    There are no lessons.
  {{/each}}
</ul>

<button {{action "new"}}>Create a Lesson</button>

{{outlet}}