<ul>
	{{#each model}}
  	{{#if name}}
    	<li class="course-link">{{#link-to "lesson.index" this}}{{name}}{{/link-to}}</li>
  	{{/if}}
  {{else}}
  	There are no lessons for this course.
  {{/each}}
</ul>

{{#if userIsOwner}}
  <button {{action "new"}} id="new-lesson">Create a Lesson</button>
{{/if}}